/*==================== PROCESS ====================*/

.process{
    padding:120px 0;
    background:#ffffff;
}

.process-container{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    margin-top:70px;

}

.process-card{

    background:#F8FAFC;
    padding:35px 25px;
    border-radius:20px;
    text-align:center;
    transition:.35s ease;

}

.process-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.step-number{

    width:70px;
    height:70px;

    background:var(--secondary);

    color:#fff;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:0 auto 25px;

    font-size:1.4rem;

    font-weight:700;

}

.process-card h3{

    margin-bottom:18px;

}

.process-card p{

    color:var(--gray);

    line-height:1.7;

}